
body, h1, h2, h3, h4, p, ul, li {
    margin: 0;
    padding: 0;
    
}


.navbar {
    background: linear-gradient(to left, #001f33, #005a8e);
}

.navbar-dark .navbar-nav .nav-link {
    position: relative;
    text-decoration: none;
    transition: 0.3s;
    color: linear-gradient(to right, #ff6b81, #ffa931);
}

.navbar-dark .navbar-toggler-icon {
    background-color: #fff;
}
.navbar-nav .nav-link::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ff6b81;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

.navbar-brand {
    font-family: 'Comfortaa', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #fff;
}

.navbar-nav .nav-link {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}


.btn {
    color: #fff !important;
    background: linear-gradient(to right, #ff6b81, #ffa931) !important;
    border: none !important;
    border-radius: 30px !important;
    padding: 10px 20px !important;
    transition: background-color 0.3s;
}


.btn:hover {
    background: linear-gradient(to right, #ffa931, #ff6b81) !important;
    color: #fff !important;
}


.hero {
    background: linear-gradient(to left, #001f33, #005a8e);
    color: #fff;
    padding: 100px 0;
    font-family: 'Comfortaa', sans-serif;
}

.gradient-text {
    background: linear-gradient(to right, #ff6b81, #ffa931);
    -webkit-background-clip: text;
    color: transparent;
}

.hero .container .row .col-md-6:first-child img {
    margin-top: -70px;
    margin-left: -20px;
    transition: transform 0.3s;
}
.hero .container .row .col-md-6:first-child img:hover{
    transform: scale(1.05);
}
.hero .container .row .col-md-6:last-child h1 {
    margin-bottom: 10px;
}


.hero .container .row .col-md-6:last-child p {
    margin-bottom: 20px;
}


.hero .container .row .col-md-6:last-child .btn {
    margin-right: 10px;
}
.hero p {
    font-family: 'open Sans', sans-serif;
    font-style: normal;
    font-size: 700;
    font-weight: 600;
    letter-spacing: 1.0px;
}


.features {
    background: linear-gradient(to left, #001f33, #005a8e);
    color: #ffffffdb;
    padding: 100px 0;
    
    
}

.feature-image {
    max-height: 100%;
    display: block;
    margin: 0 -110px;
}
#featureimg2{
    margin: 0 -170px;
}
#featureimg3{
    margin: 0 -160px;
}
#featureimg1{
    margin: 0 -135px;
}

.feature-card {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 70px;
    transition: transform 0.3s;
    position: relative;
}

.left-card {
    float: left;
    clear: both;
    margin-left: -50%;
    margin-right: auto;
}

.right-card {
    float: right;
    clear: both;
    margin-right: -50%;
    margin-left: auto;
}

.left-card .feature-image {
    position: absolute;
    top: 0;
    right: -70px;
    
}

.right-card .feature-image {
    position: absolute;
    top: 0;
    left: -70px;
    
}


.clearfix::after {
    content: "";
    display: table;
    clear: both;
}


.feature-card:hover {
    transform: scale(1.05);
}


.feature-card h2 {
    background: linear-gradient(to right, #ff6b81, #ffa931);
    -webkit-background-clip: text;
    color: transparent;
}
.feature-card p {
    font-family: 'open Sans', sans-serif;
    font-size: 500;
    font-style: italic;
    letter-spacing: 1.3px;
    color: #fffffff1;
}

.pricing {
    background: linear-gradient(to left, #001f33, #005a8e);
    color: #fff;
    padding: 100px 0;
}


#pricingheading {
    
    margin-bottom: 30px;
}
.pricing-card {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: center;
    transition: transform 0.3s;
   
}
.pricing-card:hover {
    transform: scale(1.05);
}
.pricing-card h3 {
    background: linear-gradient(to right, #ff6b81, #ffa931);
    -webkit-background-clip: text;
    color: transparent;
}

.price {
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
}

.pricing-card ul {
    padding: 0;
    margin-top: 20px;
    list-style-type: none;
}

.pricing-card ul li {
    margin: 10px 0;
    font-size: 18px;
}

.pricing-card .btn {
    margin-top: 15px;
}



.statistics {
    background: linear-gradient(to left, #001f33, #005a8e);
    color: #fff;
    padding: 100px 0;
}

.col-md-4 {
    margin-top: 30px;
}
.statistic {
    text-align: center;
    margin-bottom: 40px;
}

.statistic-icon {
    font-size: 48px;
    color: #ff6b81;
    margin-bottom: 10px;
}

.statistic-number {
    font-size: 36px;
    font-weight: bold;
}


.statistics {
    background: linear-gradient(to left, #001f33, #005a8e);
    color: #fff;
    padding: 100px 0;
}


.comments {
    background: linear-gradient(to left, #001f33, #005a8e);
    color: #fff;
    padding: 100px 0;
}


.comments .section-heading {
    margin-bottom: 35px;
}

.comment-card {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    transition: transform 0.3s;
}


.comment-card:hover {
    transform: scale(1.05);
}


.comment-text {
    margin-bottom: 10px;
    color: #fff;
}

.comment-author {
    font-weight: bold;
    color: #fff;
}



.faq {
    background: linear-gradient(to left, #001f33, #005a8e);
    color: #fff;
    padding: 100px 0;
}


.faq h2.section-heading {
    margin-bottom: 30px;
}


.faq-item {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    transition: background-color 0.3s;
}
.faq-item:hover {
    transform: scale(1.01);/* Change background color on hover */
}
.faq-question {
    font-weight: bold;
    color: #fff;
    font-size: 20px;
    margin-bottom: 10px;
}

.faq-answer {
    color: #fff;
    font-size: 18px;
}

.faq-item + .faq-item {
    margin-top: 20px;
}


.contact {
    background: linear-gradient(to left, #001f33, #005a8e);
    color: #fff;
    padding: 100px 0;
}
.contact form {
    border: 1px solid #ffffff00;
    border-radius: 10px;
    padding: 20px;
  }
  
  .contact button {
    background-color: #005a8e;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 10px 20px;
    color: #fff;
    cursor: pointer;
  }
  
  .contact button:hover {
    background-color: #0076bb;
  }
  .form-control {
    border-color: #ccc;
  }
  
  .form-control:valid {
    border: 1.5px solid;
    border-color: green;
  }
  
  .form-control:invalid {
    border: 1.5px solid;
    border-color: red;
  }



.footer {
    background: linear-gradient(to left, #001f33, #005a8e);
    color: #fff;
    padding: 50px 0;
}

.footer h4 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}




@media (max-width: 768px) {
    .hero .container .row .col-md-6:first-child img {
      max-width: 100%;
      margin-top: 0;
    }
  
    .hero .container .row .col-md-6:last-child {
      text-align: center;
    }
  }
  

@media (max-width: 768px) {
    .feature-card {
      text-align: center;
    }
  
    .feature-card .feature-image {
      max-height: 100px;
      margin: 0 auto 20px;
      display: block;
      position: relative;
      top: -50px;
      left: 0;
      right: 0;
    }
    
   
    .left-card, .right-card {
      margin-left: 0;
      margin-right: 0;
    }
  
   
    .left-card .feature-image {
      top: -50px;
    }
  
    .right-card .feature-image {
      top: -10px;
      left: +220px;
    }
    #featureimg2{
        top: -10px;
        left: 220px;
    }
    #featureimg4{
        top: -5px;
        
    }
    #featureimg3{
        top: -10px;
        left: +220px;
      }
}
